<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>About Us</title>
  <style>
    body {
      background-color: #111111; 
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      color: white;
    }
    header {
      display: none; 
    }
  </style>
</head>
<body>
  {{{ body }}}
</body>
</html>
